  .author {
    margin-bottom: 30px;
    padding-right: 50px;
    padding-top: 20px;
  }
  
  .author {
    margin-bottom: 20px;
  }
  
  .content {
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .date {
    margin-bottom: 30px;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color:black ;
  }

  @media (min-width: 768px) {  
    .author {
      margin-bottom: 30px;
    }
    
  }